# Auto detect text files and perform LF normalization
* text=auto
bookrec.csv filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
Board[[:space:]]Games_Data[[:space:]]Visualization.ipynb filter=lfs diff=lfs merge=lfs -text
Board filter=lfs diff=lfs merge=lfs -text
Games_Data filter=lfs diff=lfs merge=lfs -text
Visualization.ipynb filter=lfs diff=lfs merge=lfs -text
BoardGames_DataVisualization.ipynb filter=lfs diff=lfs merge=lfs -text
DataVisualization_BoardGames.ipynb filter=lfs diff=lfs merge=lfs -text
